@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins overflow-x-hidden;
  }
  /* container */
  .container {
    @apply max-w-[1600px] w-full px-4 mx-auto;
  }

  .banner {
    @apply h-screen bg-secondary;
  }

  .readmore {
    @apply h-screen bg-primary;
  }
  /* project */
  .project__tab {
    @apply flex justify-center;
  }
  .project__tab ul {
    @apply flex gap-6 py-4;
  }
  .project__content {
    @apply w-full flex flex-wrap;
  }
  .project__content .project__item {
    @apply relative m-[4px] w-calc-33p33-8 overflow-hidden cursor-pointer   
  }
  .project__content .project__item{
    @apply lg:w-mobile
  }
  .project__item img {
    @apply object-cover block duration-300 w-full h-full; 
  }
  .project__item:hover img {
    @apply scale-110 img-linear;
  }
  .project__item .overlay {
    @apply absolute w-full h-full top-0 left-0 flex justify-center items-center layer-linear
    p-1 overflow-hidden duration-500 ease-in-out text-white opacity-0;
  }
  .project__item:hover .overlay {
    @apply opacity-100;
  }
  .overlay__text {
    @apply text-center;
  }

  .project__tab li.active {
    @apply text-primary;
  }
  .project__tab li {
    @apply cursor-pointer;
  }
/* OUR TEAM */
.ourTeam:before{
  @apply inline-block;
}
.ourTeam__text{
  @apply max-w-[21.3rem] gap-[1.5rem] p-[2rem]  lg:h-[22.5rem] lg:max-w-[50rem] lg:pt-[5rem] lg:flex lg:flex-col 
}
.ourTeam__card{
  @apply  ml-[1rem] lg:flex  lg:pb-[1rem]  pb-[1rem] lg:justify-center 
} 
.ourTeam__card img{
  @apply h-[26rem]
}
.ourTeam__title{
  @apply pt-[5rem] 
}
.ourTeam__title p{
  @apply pb-[2rem]
}
.ourTeam{
  @apply gap-[5rem]
}
.ourTeam__title h2{
  @apply lg:pb-[2rem] pt-10 pb-[1rem]
}
.ourTeam__card{
  @apply lg:scale-[.90]
}
.aboutService__wrapper {
  @apply py-24 grid grid-cols-1 gap-10;
  /* For desktop */
  @apply lg:grid-cols-3 lg:py-20;
}
/* ABOUT SERVICE */
.aboutService__card {
  @apply p-10 border border-gray-200 flex flex-row justify-center items-start gap-4 duration-700 ease-in-out cursor-pointer;
}

.aboutService__card:hover {
  @apply bg-tertiary text-light;
}

.aboutService__card:hover i {
  @apply text-light;
}

.aboutService__card:hover p {
  @apply text-light;
}

.aboutService__card i {
  @apply text-tertiary text-5xl duration-700 ease-in-out;
}

.aboutService__text p {
  @apply font-roboto text-black/60 w-[85%] duration-700 ease-in-out;
}

.aboutService__text h4 {
  @apply font-semibold pb-2;
}

 
/* LATEST NEWS */
.latest__card {
  @apply border border-gray-400  pb-6;
}
.latest__parent{
  @apply grid gap-[1.5rem] lg:grid lg:grid-cols-3
}
.latest__card p{
  @apply text-sm pt-2
}
.latest__card a{
  @apply mt-5 pt-[2rem] 
}
/* ABOUT BANNER */
.aboutBanner{
  @apply bg-no-repeat bg-cover w-full bg-about
}

}

@layer components {
}

@layer utilities {
  .w-calc-33p33-8 {
    width: calc(50% - 20px);
  }
  .w-mobile {
    width: calc(25% - 20px);
  }

  .layer-linear {
    background: rgba(100, 117, 15, 0.9);
  }
  .img-linear {
    background: rgba(0, 0, 0, 0.5);
  }
}
